notebook/dummy.hd5f
notebook/dummy.hd5f
notebook/job1.sh
notebook/Untitled.ipynb
notebook/.ipynb_checkpoints/Untitled-checkpoint.ipynb
runit/job1.sh
notebook/.ipynb_checkpoints/test_h5py-checkpoint.ipynb
runit/logs/
runit/scripts/
python/__pycache__/
notebook/.ipynb_checkpoints/GeneratorVerification-checkpoint.ipynb
notebook/.ipynb_checkpoints/GeneratorVerification-checkpoint.ipynb
notebook/.ipynb_checkpoints/PropagationVerification-checkpoint.ipynb
runit/logs
python/__pycache__/OpticalPhoton.cpython-311.pyc
